@font-face {
    font-family: 'icomoon';
    src: url("../fonts/icomoon/icomoon.eot?srf3rx");
    src: url("../fonts/icomoon/icomoon.eot?srf3rx#iefix") format("embedded-opentype"), url("../fonts/icomoon/icomoon.ttf?srf3rx") format("truetype"), url("../fonts/icomoon/icomoon.woff?srf3rx") format("woff"), url("../fonts/icomoon/icomoon.svg?srf3rx#icomoon") format("svg");
    font-weight: normal;
    font-style: normal;
}
/* =======================================================
*
* 	Template Style 
*	Edit this section
*
* ======================================================= */
body {
    font-family: "Open Sans", Arial, sans-serif;
    font-weight: 300;
    font-size: 14px;
    line-height: 1.6;
    color: black;
    background: #26272c;
    height: 100%;
    position: relative;
}

a {
    color: #7fc6b6;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}
a:hover, a:active, a:focus {
    color: #7fc6b6;
    outline: none;
}

p {
    font-family: "Open Sans", Arial, sans-serif;
    margin-bottom: 1.5em;
}

h1, h2, h3, h4, h5, h6 {
    color: #333;
    font-family: "Open Sans", Arial, sans-serif;
    font-weight: 400;
    margin: 0 0 30px 0;
}

::-webkit-selection {
    color: #fff;
    background: #7fc6b6;
}

::-moz-selection {
    color: #fff;
    background: #7fc6b6;
}

::selection {
    color: #fff;
    background: #7fc6b6;
}

#fh5co-header {
    position: absolute;
    z-index: 99;
    width: 100%;
    opacity: 1;
    top: 0;
}
#fh5co-header .navbar {
    padding-bottom: 0;
    margin-bottom: 0;
}
#fh5co-header #navbar.navbar-collapse {
    border-top: 1px solid rgba(255, 255, 255, 0.2);
}
#fh5co-header #navbar .navbar-right {
    margin-right: 0;
}
@media screen and (max-width: 992px) {
    #fh5co-header #navbar .navbar-right {
        margin-right: -15px;
    }
}
#fh5co-header #navbar li a {
    font-family: "Open Sans", Arial, sans-serif;
    color: rgba(255, 255, 255, 0.5);
    position: relative;
    font-size: 16px;
    font-weight: 400;
}
@media screen and (max-width: 992px) {
    #fh5co-header #navbar li a {
        padding-left: 10px !important;
        padding-right: 10px !important;
    }
}
#fh5co-header #navbar li a span {
    position: relative;
    display: block;
    padding-bottom: 2px;
}
#fh5co-header #navbar li a span:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.5);
    visibility: hidden;
    -webkit-transform: scaleX(0);
    -moz-transform: scaleX(0);
    -ms-transform: scaleX(0);
    -o-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    -ms-transition: all 0.3s ease-in-out 0s;
    -o-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}
#fh5co-header #navbar li a:hover {
    color: #fff;
}
#fh5co-header #navbar li a:hover span:before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    -moz-transform: scaleX(1);
    -ms-transform: scaleX(1);
    -o-transform: scaleX(1);
    transform: scaleX(1);
}
@media screen and (max-width: 480px) {
    #fh5co-header #navbar li a:hover span:before {
        display: none;
    }
}
#fh5co-header #navbar li.active a {
    background: transparent;
    background: none;
    color: #fff;
}
@media screen and (max-width: 480px) {
    #fh5co-header #navbar li.active a {
        color: #fff;
    }
}
#fh5co-header #navbar li.active a span:before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    background-color: #fff;
}
@media screen and (max-width: 480px) {
    #fh5co-header #navbar li.active a span:before {
        background-color: transparent;
    }
}
#fh5co-header #navbar li.call-to-action {
    margin-left: 10px;
}
#fh5co-header #navbar li.call-to-action a {
    border: none;
    padding: 2px 20px 2px 20px;
    margin: 12px 0 0 0px;
    line-height: 1.5;
    background-color: #7fc6b6;
    border: 2px solid rgba(255, 255, 255, 0.1);
    color: #fff;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    border-radius: 30px;
}
#fh5co-header #navbar li.call-to-action a:hover {
    border: 2px solid rgba(255, 255, 255, 0.3);
    color: #fff;
}
#fh5co-header #navbar li.call-to-action a span:before {
    background-color: transparent;
}
#fh5co-header .navbar-brand {
    float: left;
    display: block;
    font-size: 24px;
    font-weight: 700;
    padding-left: 0;
    color: #fff;
    text-transform: uppercase;
    font-family: "Open Sans", Arial, sans-serif;
}
@media screen and (max-width: 992px) {
    #fh5co-header .navbar-brand {
        padding-left: 10px !important;
        padding-right: 0 !important;
    }
}
#fh5co-header.navbar-fixed-top {
    position: fixed !important;
    background: #fff;
    -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.3);
    -ms-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.3);
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.3);
    margin-top: 0px;
    top: 0;
}
#fh5co-header.navbar-fixed-top #navbar li a {
    color: rgba(255, 255, 255, 0.5) !important;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}
#fh5co-header.navbar-fixed-top #navbar li a:hover {
    color: #7fc6b6;
}
#fh5co-header.navbar-fixed-top #navbar li.active a {
    color: #fff !important;
}
@media screen and (max-width: 768px) {
    #fh5co-header.navbar-fixed-top #navbar li.active a {
        color: #7fc6b6 !important;
    }
}
#fh5co-header.navbar-fixed-top #navbar li.active a span:before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    background-color: #fff;
}
@media screen and (max-width: 768px) {
    #fh5co-header.navbar-fixed-top #navbar li.active a span:before {
        background-color: transparent;
    }
}
#fh5co-header.navbar-fixed-top #navbar li.call-to-action a {
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    border-radius: 30px;
}
#fh5co-header.navbar-fixed-top #navbar li.call-to-action a:hover {
    background-color: #7fc6b6;
    color: #fff !important;
}
#fh5co-header.navbar-fixed-top #navbar li.call-to-action a span:before {
    background-color: transparent;
}
#fh5co-header .navbar-default {
    border: transparent;
    background: #1a1b1e;
    background: #7fc6b6;
    margin: 0;
    padding-left: 50px;
    padding-right: 50px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -ms-border-radius: 0px;
    border-radius: 0px;
}
@media screen and (max-width: 768px) {
    #fh5co-header .navbar-default {
        margin-top: 0px;
        padding-right: 0px;
        padding-left: 0px;
    }
}
#fh5co-header .navbar-default .brand-slogan {
    margin: 28px 0 0 15px;
    float: left;
    letter-spacing: 2px;
    color: #adadad;
}
#fh5co-header .navbar-default .brand-slogan em {
    color: #7fc6b6;
    font-style: normal;
}

.lead {
    font-size: 18px;
}

img {
    margin-bottom: 40px;
}

.img-shadow {
    -webkit-box-shadow: 0px 3px 6px -1px rgba(0, 0, 0, 0.19);
    -moz-box-shadow: 0px 3px 6px -1px rgba(0, 0, 0, 0.19);
    -ms-box-shadow: 0px 3px 6px -1px rgba(0, 0, 0, 0.19);
    -o-box-shadow: 0px 3px 6px -1px rgba(0, 0, 0, 0.19);
    box-shadow: 0px 3px 6px -1px rgba(0, 0, 0, 0.19);
}

#fh5co-home {
    background-color: transparent;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    width: 100%;
    color: #fff;
}
#fh5co-home h2 {
    font-family: "Prata", serif;
    font-size: 16px !important;
    color: rgba(255, 255, 255, 0.3) !important;
}
#fh5co-home a {
    color: rgba(255, 255, 255, 0.8) !important;
    text-decoration: underline;
}
#fh5co-home a:hover {
    color: #fff;
    text-decoration: none;
}
#fh5co-home .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 2;
    width: 100%;
    background: rgba(38, 39, 44, 0.9);
}
#fh5co-testimony .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 0;
    width: 100%;
    background: rgba(38, 39, 44, 0.9);
}
#fh5co-home, #fh5co-home .text-wrap {
    height: 900px;
}
#fh5co-home .text-wrap {
    display: table;
    width: 100%;
    position: relative;
    z-index: 4;
}
#fh5co-home .text-inner {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}
#fh5co-home .text-inner h1 {
    font-size: 38px;
    text-transform: uppercase;
    color: white;
    margin: 0 0 20px 0;
    font-weight: 400;
}
#fh5co-home .text-inner h2 {
    font-size: 20px;
    line-height: 30px;
    font-weight: 300;
    color: rgba(255, 255, 255, 0.8);
    margin: 0 0 60px 0;
}
#fh5co-home .text-inner .call-to-action {
    display: block;
    width: 100%;
}
#fh5co-home .text-inner .call-to-action a {
    width: 230px;
    display: inline-block;
    font-size: 20px;
    padding: 15px 0;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    border-radius: 4px;
    margin-right: 10px;
    font-family: "Open Sans", Arial, sans-serif;
    -webkit-box-shadow: 0px 3px 6px -1px rgba(0, 0, 0, 0.19);
    -moz-box-shadow: 0px 3px 6px -1px rgba(0, 0, 0, 0.19);
    -ms-box-shadow: 0px 3px 6px -1px rgba(0, 0, 0, 0.19);
    -o-box-shadow: 0px 3px 6px -1px rgba(0, 0, 0, 0.19);
    box-shadow: 0px 3px 6px -1px rgba(0, 0, 0, 0.19);
}
#fh5co-home .text-inner .call-to-action a.demo {
    border: 2px solid #fff;
    text-decoration: none !important;
}
@media screen and (max-width: 768px) {
    #fh5co-home .text-inner .call-to-action a.demo {
        margin-bottom: 20px;
    }
}
#fh5co-home .text-inner .call-to-action a.demo:hover {
    background: rgba(255, 255, 255, 0.2);
}
#fh5co-home .text-inner .call-to-action a.download {
    border: 2px solid #7fc6b6;
    background: #7fc6b6;
    text-decoration: none !important;
}

#fh5co-services, #fh5co-testimony, #fh5co-about, #fh5co-explore, #fh5co-faq, #fh5co-team, #fh5co-trusted, #fh5co-footer {
    background: white;
    padding: 5em 0;
}
@media screen and (max-width: 768px) {
    #fh5co-services, #fh5co-testimony, #fh5co-about, #fh5co-explore, #fh5co-faq, #fh5co-team, #fh5co-trusted, #fh5co-footer {
        padding: 2em 0;
    }
}

#fh5co-about {
    padding: 7em 0;
}
@media screen and (max-width: 768px) {
    #fh5co-about {
        padding: 4em 0;
    }
}

.fh5co-explore {
    padding-bottom: 40px;
}

.fh5co-explore-bg-color {
    width: 100%;
    background: #1a1b1e;
    padding: 7em 0;
    margin-bottom: 0;
}

.mt {
    margin-top: 0px;
    margin-bottom: 80px;
}
.mt h4 {
    position: relative;
    padding-left: 40px;
    font-size: 20px;
}
.mt h4 i {
    position: absolute;
    left: 0;
    top: 0;
    color: #eb212e;
}
.mt > div {
    margin-bottom: 40px;
}
.mt .list-nav {
    margin: 50px 0 0 0;
    padding: 0;
}
.mt .list-nav li {
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 14px;
    padding-left: 30px;
    margin-bottom: 10px;
    position: relative;
}
.mt .list-nav li i {
    position: absolute;
    left: 0;
    top: 0;
    font-size: 18px;
    color: #eb212e;
}

.list-nav {
    margin: 30px 0 30px 0;
    padding: 0;
}
.list-nav li {
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 14px;
    padding-left: 30px;
    margin-bottom: 10px;
    position: relative;
}
.list-nav li i {
    position: absolute;
    left: 0;
    top: 0;
    font-size: 18px;
    color: #eb212e;
}

#fh5co-testimony {
    padding-top: 200px;
    background-image: url(../images/bg-parallax-1F.jpg);
    background-position: 0px 0px;
    background-color: transparent;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    width: 100%;
}
@media screen and (max-width: 768px) {
    #fh5co-testimony {
        padding: 3em 0;
    }
}
#fh5co-testimony .wrap-testimony {
    position: relative;
    width: 100%;
}
#fh5co-testimony .wrap-testimony .testimony-slide {
    text-align: center;
}
#fh5co-testimony .wrap-testimony .testimony-slide span {
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 700;
    font-family: "Open Sans", Arial, sans-serif !important;
}
#fh5co-testimony .wrap-testimony .testimony-slide span a.twitter {
    color: #7fc6b6;
    font-weight: 300;
}
#fh5co-testimony .wrap-testimony .testimony-slide figure {
    margin-bottom: 20px;
    display: -moz-inline-stack;
    display: inline-block;
    zoom: 1;
    *display: inline;
}
#fh5co-testimony .wrap-testimony .testimony-slide figure img {
    width: 90px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
}
#fh5co-testimony .wrap-testimony .testimony-slide blockquote {
    border: none;
    margin: 0 auto;
    width: 72%;
    position: relative;
    padding-bottom: 30px;
    margin-bottom: 30px;
}
@media screen and (max-width: 992px) {
    #fh5co-testimony .wrap-testimony .testimony-slide blockquote {
        width: 100%;
    }
}
#fh5co-testimony .wrap-testimony .testimony-slide blockquote p {
    font-style: normal;
    color: #ffffff;
    font-weight: 100;
    font-size: 20px;
    line-height: 1.6em;
}
#fh5co-testimony .wrap-testimony .testimony-slide blockquote:after {
    content: "";
    position: absolute;
    display: block;
    width: 50px;
    height: 2px;
    background: #7fc6b6;
    left: 50%;
    margin-left: -25px;
    bottom: 0;
}
#fh5co-testimony .wrap-testimony .testimony-slide.active {
    display: block;
}
#fh5co-testimony .wrap-testimony .arrow-thumb {
    position: absolute;
    top: 40%;
    display: block;
    width: 100%;
}
#fh5co-testimony .wrap-testimony .arrow-thumb a {
    font-size: 32px;
    color: #dadada;
}
#fh5co-testimony .wrap-testimony .arrow-thumb a:hover, #fh5co-testimony .wrap-testimony .arrow-thumb a:focus, #fh5co-testimony .wrap-testimony .arrow-thumb a:active {
    text-decoration: none;
}

.getting-started {
    background: #7fc6b6;
    padding: 60px 0 40px 0;
}
.getting-started h3 {
    color: #fff;
}
.getting-started p {
    color: rgba(10, 9, 9, 0.8);
}
.getting-started .call-to-action {
    display: block;
    width: 100%;
    float: left;
}
@media screen and (max-width: 992px) {
    .getting-started .call-to-action {
        float: none !important;
        width: 100%;
        text-align: left !important;
    }
}
.getting-started .call-to-action a.sign-up {
    float: right;
    margin-top: 20px;
    padding: 18px 60px;
    background: #fff;
    color: #7fc6b6;
    font-family: "Open Sans", Arial, sans-serif !important;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: 0px 3px 6px -1px rgba(0, 0, 0, 0.19);
    -moz-box-shadow: 0px 3px 6px -1px rgba(0, 0, 0, 0.19);
    -ms-box-shadow: 0px 3px 6px -1px rgba(0, 0, 0, 0.19);
    -o-box-shadow: 0px 3px 6px -1px rgba(0, 0, 0, 0.19);
    box-shadow: 0px 3px 6px -1px rgba(0, 0, 0, 0.19);
}
@media screen and (max-width: 992px) {
    .getting-started .call-to-action a.sign-up {
        float: left !important;
    }
}
.getting-started .call-to-action a.sign-up:hover, .getting-started .call-to-action a.sign-up:focus, .getting-started .call-to-action a.sign-up:active {
    text-decoration: none;
}
.getting-started .call-to-action a.sign-up:hover {
    background: #fff;
}

.fh5co-pricing {
    padding: 4em 0 6em 0;
    background: #1a1b1e;
}
.fh5co-pricing .pricing {
    display: block;
    float: left;
    margin-bottom: 30px;
}
.fh5co-pricing .price-box {
    text-align: center;
    padding: 30px;
    background: #fff;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    border-radius: 5px;
    margin-bottom: 40px;
    position: relative;
    -webkit-box-shadow: 0px 2px 10px -1px rgba(0, 0, 0, 0.19);
    -moz-box-shadow: 0px 2px 10px -1px rgba(0, 0, 0, 0.19);
    -ms-box-shadow: 0px 2px 10px -1px rgba(0, 0, 0, 0.19);
    -o-box-shadow: 0px 2px 10px -1px rgba(0, 0, 0, 0.19);
    box-shadow: 0px 2px 10px -1px rgba(0, 0, 0, 0.19);
}
.fh5co-pricing .price-box.popular .btn-select-plan {
    background: #7fc6b6;
}
.fh5co-pricing .price-box .btn-select-plan {
    padding: 10px 20px;
    background: #eb212e;
    color: #fff;
    -webkit-box-shadow: 0px 3px 6px -1px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0px 3px 6px -1px rgba(0, 0, 0, 0.15);
    -ms-box-shadow: 0px 3px 6px -1px rgba(0, 0, 0, 0.15);
    -o-box-shadow: 0px 3px 6px -1px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 3px 6px -1px rgba(0, 0, 0, 0.15);
}
.fh5co-pricing .pricing-plan {
    margin: 0 0 50px 0;
    padding: 0;
    font-size: 13px;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: 700;
    color: #888f94;
}
.fh5co-pricing .pricing-plan.pricing-plan-offer {
    margin-bottom: 24px;
}
.fh5co-pricing .pricing-plan span {
    display: block;
    margin-top: 10px;
    margin-bottom: 0;
    color: #d5d8db;
}
.fh5co-pricing .price {
    font-size: 72px;
    color: #6d6d6d;
    line-height: 50px;
}
.fh5co-pricing .price .currency {
    font-size: 30px;
    top: -0.9em;
    padding-right: 10px;
}
.fh5co-pricing .price small {
    font-size: 13px;
    display: block;
    text-transform: uppercase;
    color: #888f94;
}

.fh5co-services .box-services {
    position: relative;
    margin-bottom: 70px;
}
.fh5co-services .box-services i {
    position: absolute;
    left: 0;
    top: 0;
    font-size: 38px;
    color: #eb212e;
}
.fh5co-services .fh5co-post {
    padding-left: 75px;
}
.fh5co-services .fh5co-post h3 {
    font-size: 18px;
    margin-bottom: 15px;
}
.fh5co-services .call-to-action .btn-learn {
    padding: 12px 30px;
    background: #7fc6b6;
    color: #fff;
}

#fh5co-team {
    background: #1a1b1e;
}
#fh5co-team .team-box {
    position: relative;
    padding: 30px;
    padding-top: 2em;
    background: #fff;
    background: #18181c;
    float: left;
    width: 100%;
    text-align: center;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    border-radius: 5px;
}
@media screen and (max-width: 992px) {
    #fh5co-team .team-box {
        margin-bottom: 40px;
    }
}
#fh5co-team .team-box .user {
    position: relative;
    margin-bottom: 20px;
}
#fh5co-team .team-box .user img {
    width: 147px;
    height: 147px;
    margin-bottom: 0;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
}
#fh5co-team .team-box h3 {
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 16px;
    text-transform: uppercase;
}
#fh5co-team .team-box .position {
    font-size: 16px;
    color: #8f989f;
    display: block;
    margin-bottom: 30px;
}
#fh5co-team .team-box .social-media {
    margin: 0;
    padding: 0;
}
#fh5co-team .team-box .social-media li {
    display: inline-block;
    margin: 0;
    padding: 0;
    font-size: 24px;
    margin-right: 10px;
}
#fh5co-team .team-box .social-media li a {
    color: #3e3f47;
}
#fh5co-team .team-box .social-media li a:hover, #fh5co-team .team-box .social-media li a:focus, #fh5co-team .team-box .social-media li a:active {
    text-decoration: none;
    color: #7fc6b6 !important;
}

.box-faq {
    margin-bottom: 60px;
}
.box-faq h3 {
    font-size: 18px;
    margin-bottom: 20px;
}

.partner-logo {
    margin-bottom: 30px;
    float: left;
    width: 100%;
    vertical-align: middle;
    display: -moz-inline-stack;
    display: inline-block;
    zoom: 1;
    *display: inline;
}

.section-heading {
    float: left;
    width: 100%;
    padding-bottom: 50px;
    margin-bottom: 0px;
    clear: both;
}
.section-heading h2 {
    margin: 0 0 0 0;
    font-size: 26px;
    font-weight: 400;
    color: #333;
    position: relative;
    display: block;
    padding-bottom: 10px;
    line-height: 1.5;
}
@media screen and (max-width: 768px) {
    .section-heading h2 {
        font-size: 28px;
    }
}
.section-heading h3 {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.8;
    color: #555863;
    position: relative;
    display: block;
    padding-bottom: 30px;
    font-family: "Open Sans", Arial, sans-serif;
}
.section-heading h3:after {
    content: "";
    position: absolute;
    display: block;
    width: 50px;
    height: 2px;
    background: #7fc6b6;
    left: 50%;
    margin-left: -25px;
    bottom: 0;
}
@media screen and (max-width: 768px) {
    .section-heading h3 {
        font-size: 16px !important;
        line-height: 28px;
    }
}

#fh5co-footer {
    background: #fff;
}
#fh5co-footer a {
    color: #74889e;
}
#fh5co-footer a:hover {
    color: #fff !important;
    text-decoration: underline;
}
#fh5co-footer .section-title {
    font-size: 22px;
    color: #555863;
    position: relative;
    padding-bottom: 20px;
}
#fh5co-footer .section-title:after {
    position: absolute;
    content: '';
    bottom: 0;
    left: 0;
    display: block;
    width: 35px;
    height: 2px;
    background: #7fc6b6;
}
#fh5co-footer .copy-right {
    position: relative;
    padding-top: 20px;
    margin-top: 40px;
}
#fh5co-footer .copy-right > a {
    color: #7fc6b6;
}
#fh5co-footer .copy-right:after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    display: block;
    width: 35px;
    height: 2px;
    background: #7fc6b6;
}
#fh5co-footer .contact-info {
    margin: 0 0 60px 0;
    padding: 0;
}
#fh5co-footer .contact-info li {
    font-size: 14px;
    list-style: none;
    margin: 0 0 20px 0;
    position: relative;
    padding-left: 40px;
}
#fh5co-footer .contact-info li a {
    color: #7fc6b6;
}
#fh5co-footer .contact-info li i {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 20px;
    color: #7fc6b6;
    color: #555863;
}
#fh5co-footer .social-media {
    margin: 0 0 30px 0;
    padding: 0;
}
#fh5co-footer .social-media li {
    display: inline-block;
    margin: 0;
    padding: 0;
    font-size: 24px;
    margin-right: 10px;
}
#fh5co-footer .social-media li a {
    color: #7fc6b6;
}
#fh5co-footer .social-media li a:hover, #fh5co-footer .social-media li a:focus, #fh5co-footer .social-media li a:active {
    text-decoration: none;
}
#fh5co-footer .contact-form .form-group input[type="name"],
#fh5co-footer .contact-form .form-group input[type="text"],
#fh5co-footer .contact-form .form-group input[type="email"],
#fh5co-footer .contact-form .form-group textarea {
    font-size: 14px;
}
#fh5co-footer .contact-form .form-group input[type="name"]::-webkit-input-placeholder,
#fh5co-footer .contact-form .form-group input[type="text"]::-webkit-input-placeholder,
#fh5co-footer .contact-form .form-group input[type="email"]::-webkit-input-placeholder,
#fh5co-footer .contact-form .form-group textarea::-webkit-input-placeholder {
    color: #555863;
}
#fh5co-footer .contact-form .form-group input[type="name"]:-moz-placeholder,
#fh5co-footer .contact-form .form-group input[type="text"]:-moz-placeholder,
#fh5co-footer .contact-form .form-group input[type="email"]:-moz-placeholder,
#fh5co-footer .contact-form .form-group textarea:-moz-placeholder {
    /* Firefox 18- */
    color: #555863;
}
#fh5co-footer .contact-form .form-group input[type="name"]::-moz-placeholder,
#fh5co-footer .contact-form .form-group input[type="text"]::-moz-placeholder,
#fh5co-footer .contact-form .form-group input[type="email"]::-moz-placeholder,
#fh5co-footer .contact-form .form-group textarea::-moz-placeholder {
    /* Firefox 19+ */
    color: #555863;
}
#fh5co-footer .contact-form .form-group input[type="name"]:-ms-input-placeholder,
#fh5co-footer .contact-form .form-group input[type="text"]:-ms-input-placeholder,
#fh5co-footer .contact-form .form-group input[type="email"]:-ms-input-placeholder,
#fh5co-footer .contact-form .form-group textarea:-ms-input-placeholder {
    color: #555863;
}
#fh5co-footer .contact-form .form-group input {
    color: #555863;
    background: transparent;
    border: #7fc6b6 1px solid;
    background: #485b71;
    background: #ffffff;
    box-shadow: none;
}
#fh5co-footer .contact-form .form-group textarea {
    color: #555863;
    background: transparent;
    border: #7fc6b6 1px solid;
    background: #ffffff;
    box-shadow: none;
}
#fh5co-footer #btn-submit {
    color: rgba(255, 255, 255, 0.9) !important;
    background: #7fc6b6 !important;
}

.btn {
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    font-family: "Open Sans", Arial, sans-serif !important;
}

.fh5co-nav-toggle {
    width: 25px;
    height: 25px;
    cursor: pointer;
    text-decoration: none;
}
.fh5co-nav-toggle.active i::before, .fh5co-nav-toggle.active i::after {
    background: #fff;
}
.fh5co-nav-toggle:hover, .fh5co-nav-toggle:focus, .fh5co-nav-toggle:active {
    outline: none;
    border-bottom: none !important;
}
.fh5co-nav-toggle i {
    position: relative;
    display: -moz-inline-stack;
    display: inline-block;
    zoom: 1;
    *display: inline;
    width: 25px;
    height: 2px;
    color: #fff;
    font: bold 14px/.4 Helvetica;
    text-transform: uppercase;
    text-indent: -55px;
    background: #fff;
    transition: all .2s ease-out;
}
.fh5co-nav-toggle i::before, .fh5co-nav-toggle i::after {
    content: '';
    width: 25px;
    height: 2px;
    background: #fff;
    position: absolute;
    left: 0;
    -webkit-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
}

.fh5co-nav-toggle i::before {
    top: -7px;
}

.fh5co-nav-toggle i::after {
    bottom: -7px;
}

.fh5co-nav-toggle:hover i::before {
    top: -10px;
}

.fh5co-nav-toggle:hover i::after {
    bottom: -10px;
}

.fh5co-nav-toggle.active i {
    background: transparent;
}

.fh5co-nav-toggle.active i::before {
    top: 0;
    -webkit-transform: rotateZ(45deg);
    -moz-transform: rotateZ(45deg);
    -ms-transform: rotateZ(45deg);
    -o-transform: rotateZ(45deg);
    transform: rotateZ(45deg);
}

.fh5co-nav-toggle.active i::after {
    bottom: 0;
    -webkit-transform: rotateZ(-45deg);
    -moz-transform: rotateZ(-45deg);
    -ms-transform: rotateZ(-45deg);
    -o-transform: rotateZ(-45deg);
    transform: rotateZ(-45deg);
}

.fh5co-nav-toggle {
    position: absolute;
    top: 6px;
    right: 15px;
    z-index: 21;
    padding: 6px 0 0 0;
    display: block;
    margin: 0 auto;
    display: none;
    height: 44px;
    width: 25px;
    border-bottom: none !important;
}
@media screen and (max-width: 768px) {
    .fh5co-nav-toggle {
        display: block;
    }
}

.btn {
    text-transform: uppercase;
    letter-spacing: 2px;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}
.btn.btn-primary {
    background: #7fc6b6;
    color: #fff;
    border: none !important;
    border: 2px solid transparent !important;
}
.btn.btn-primary:hover, .btn.btn-primary:active, .btn.btn-primary:focus {
    box-shadow: none;
    background: #7fc6b6;
}
.btn:hover, .btn:active, .btn:focus {
    background: #7fc6b6 !important;
    color: #fff;
    outline: none !important;
}
.btn.btn-default:hover, .btn.btn-default:focus, .btn.btn-default:active {
    border-color: transparent;
}

.social {
    padding: 0;
    margin: 0;
    display: inline-block;
    position: relative;
    width: 100%;
}
.social li {
    list-style: none;
    padding: 0;
    margin: 0;
    display: inline-block;
}
.social li a {
    font-size: 16px;
    display: table;
    width: 40px;
    height: 40px;
    margin: 0 4px;
}
.social li a i {
    display: table-cell;
    vertical-align: middle;
}
.social li a:hover, .social li a:active, .social li a:focus {
    text-decoration: none;
    border-bottom: none;
}
.social li a.social-box {
    background: #7fc6b6;
    color: #fff;
}
.social li a.social-circle {
    background: #7fc6b6;
    color: #fff;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
}
.social li a:hover {
    background: #393e46 !important;
}
.social.social-box a {
    background: #7fc6b6;
    color: #fff;
}
.social.social-circle a {
    background: #7fc6b6;
    color: #fff;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
}

#map {
    width: 100%;
    height: 500px;
    position: relative;
}
@media screen and (max-width: 768px) {
    #map {
        height: 200px;
    }
}

.mfp-with-zoom .mfp-container,
.mfp-with-zoom.mfp-bg {
    opacity: 0;
    -webkit-backface-visibility: hidden;
    /* ideally, transition speed should match zoom duration */
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.mfp-with-zoom.mfp-ready .mfp-container {
    opacity: 1;
}

.mfp-with-zoom.mfp-ready.mfp-bg {
    opacity: 0.8;
}

.mfp-with-zoom.mfp-removing .mfp-container,
.mfp-with-zoom.mfp-removing.mfp-bg {
    opacity: 0;
}

.js .to-animate,
.js .to-animate-2,
.js .to-animate-3,
.js .single-animate {
    opacity: 0;
}

@media screen and (max-width: 480px) {
    .col-xxs-12 {
        float: none;
        width: 100%;
    }
}

.row-bottom-padded-lg {
    padding-bottom: 7em;
}
@media screen and (max-width: 768px) {
    .row-bottom-padded-lg {
        padding-bottom: 2em;
    }
}

.row-bottom-padded-md {
    padding-bottom: 4em;
}
@media screen and (max-width: 768px) {
    .row-bottom-padded-md {
        padding-bottom: 2em;
    }
}

.row-bottom-padded-sm {
    padding-bottom: 2em;
}
@media screen and (max-width: 768px) {
    .row-bottom-padded-sm {
        padding-bottom: 2em;
    }
}

.fh5co-animated {
    -webkit-animation-duration: .3s;
    animation-duration: .3s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.owl-carousel .owl-controls .owl-dot span {
    background: #333333;
}
.owl-carousel .owl-controls .owl-dot span:hover, .owl-carousel .owl-controls .owl-dot span:focus {
    background: #4d4d4d;
}
.owl-carousel .owl-controls .owl-dot:hover span, .owl-carousel .owl-controls .owl-dot:focus span {
    background: #4d4d4d;
}
.owl-carousel .owl-controls .owl-dot.active span {
    background: transparent;
    border: 2px solid #7fc6b6;
}

